body {
  background-color: floralwhite;
}

h2 {
  line-height: 45px;
}

footer {
  text-align: center;
}

.hero-unit {
  background-color: blanchedalmond;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.hero-unit a {
  color: chocolate;
}