body {
  background-color: floralwhite;
}

h2 {
  line-height: 45px;
}

footer {
  text-align: center;
}

.hero-unit {
  background-color: blanchedalmond;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.hero-unit a {
  color: chocolate;
}

.spotilink {
  margin-right: 4px;
}
.spotilink:hover {
  cursor: grab;
  text-decoration: none;
}

.spotify-player-container {
  max-width: 420px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
}